@import 'open-props/postcss/normalize';
@import 'open-props/postcss/style';
@import 'open-props/colors-hsl';
@import 'open-props/postcss/normalize';

@import './reset.css';
@import './theme.css';
@import './utils.css';
@import 'open-props/media';

@layer base, components, utilities;

@layer base {
  @unocss preflights;
}

@layer utilities {
  @unocss default;

  @unocss;
}

body {
  background: var(--surface-2);
  color: var(--text-1);
  overscroll-behavior-y: contain;
}

:is(button, a):focus-visible {
  outline: var(--link) solid 3px;
  transition: outline-offset 145ms var(--ease-2);
}

:where(button) {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media (--mouse) {
  a:hover {
    text-decoration: underline;
  }
}

:where(h1, h2, h3, h4, h5, h6, p, li) {
  max-inline-size: 100%;
}

html.dark {
  color-scheme: dark;
}
